html,
body {
  padding: 0;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
  /*  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}

a {
  color: #2B83FC;
}

p {
  font-size: 14pt;
}

h2 {
  font-size: 18pt;
}

* {
  box-sizing: border-box;
}
